ul {
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 40px;
}

header .logo {
  display: inline-block;
  margin-top: 20px;
  max-width: 330px;
}

.logo img {
  width: 100%;
}

.marker {
  width: 25px;
  height: 25px;
  background: url("/images/icon.png") !important;
}

footer {
  clear: both;
  width: 100%;
  color: #1d1d1b;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 20px 0 10px;
}

.store {
  overflow: hidden;
  background: #eee;
  padding: 0;
  margin-right: 2%;
  width: 32%;
  min-height: 235px;
  margin-bottom: 15px;
  padding: 15px;
}

.store img {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 15px 15px 0;
}

.store h3 {
  padding: 0;
  margin: 0 0 10px 0;
}

@media (max-width: 768px) {
  .store {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.store:nth-of-type(3n + 3) {
  margin-right: 0;
}

nav {
  float: right;
  margin-top: 20px;
}

nav a {
  margin-right: 15px;
  font-weight: 600;
  text-decoration: underline;
}

nav a.active {
  text-decoration: none;
  color: #23527c;
}

.btn-fav {
  background: url("/images/fav.png") no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  appearance: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn-fav:hover {
  cursor: pointer;
}

.info-window h2 {
  margin: 0 0 10px !important;
}

.info-window address {
  margin: 0 0 10px !important;
}

.info-window .phone-link {
  margin: 0 0 5px !important;
  display: inline-block;
}

.content {
  margin-bottom: 50px;
}

.store-map {
  margin-bottom: 20px;
}

.region-selector {
  font-size: 1.5em;
}
